[2016-01-06 18:20] pablooliveira opened #11 "Support of denormalized values in the QUAD backend still needs work"
The support for denormalized values in the QUAD backend is incomplete. In particular, the generated noise during MCA operations is not fully random.

I'm opening this ticket to track this issue.

[2016-01-06 18:45] pablooliveira opened #12 "Build a Debian package"
It would be very nice to have debian / ubuntu packages for Verificarlo.

[2016-02-01 15:51] pablooliveira opened #14 "Add verbose mode"
During compilation, verificarlo outputs a lot of debug information. A `--verbose` flag should be added so this information is only provided when requested.

[2016-03-04 23:24] #14 closed

[2016-03-04 23:25] pablooliveira opened #18 "Add a --with-fortran flag to configure script"
Installing dragonegg is very complex and only needed for fortran. Support should be optional.

[2016-04-03 12:51] #18 closed

[2016-08-31 13:59] titeup commented on #11
Work in progress, I need to build a validation test now.

[2016-10-09 14:24] chdenis opened #26 "Automatic documentation of the code using sphinx"

[2016-10-09 14:26] chdenis opened #27 "Development of a test case requiring a huge command line"

[2016-10-09 14:29] chdenis commented on #11
I could also test this work on a real application.

[2016-11-03 09:35] chdenis commented on #26
Low priority

[2016-11-03 09:36] chdenis opened #31 "Adding tests"

[2016-11-03 09:37] chdenis commented on #31
Help wanted to define the list of  tests.

[2016-11-03 09:43] titeup commented on #31
Well, A first and maybe very tricky one could be a more advance backend validation test which measure if there is any significant difference in the samples of two different verificarlo backend.
This backend should test normal values, but also special cases and denormal, maybe in different phase of the test to give a more complete diagnostic of the differences.
We should also to be able to use simi

[2016-12-08 20:45] chdenis commented on #31
With confidence intervals ?

[2016-12-08 21:18] chdenis commented on #31
Test in progress ! Kahan summation and  a chaotic model.

[2016-12-08 22:34] pablooliveira commented on #12
Working on this :-) We should have something soon !

[2016-12-11 17:40] pablooliveira commented on #12
This is now done ! The packaging scripts are maintained in the debian/ branch :-) I will upload a debian package for test.

[2016-12-11 17:40] #12 closed

[2017-01-10 09:02] titeup opened #40 "random rounding backend"
Hello all,

I started a while ago (and almost finished) a random rounding backend to explore wether or not it can efficiently (perf and accuracy) replace the quad/double backend for standard precision noise and if the statistic are still converging to the same values.
I expect some diffrences, but when used in a debugging purpose, that should do the trick.
I am also working on the administrative a

[2017-01-10 10:50] yohanchatelain opened #41 "Unexpected behavior for VERIFICARLO_PRECISION=0"
I open a ticket for the behavior of VERIFICARLO_PRECISION when is set to 0.
We expected to have all bits noised but it turns out that no noise is added.
When verbose mode is activated, verificarlo outputs :

[2017-01-10 10:56] titeup commented on #41
Well it is difficult to interpret the zero. Would that mean all the pseudo mantissa bits are impacted but not the order of magnitude (exponent)
Or the exponent last bits is noised to change the implicit mantissa bit, or the exponent is totaly noised, or even the signed might change (ie the FP number is replaced by a random FP value)
What about special values (inf, nan, zero, etc.)?
I think we shou

[2017-01-10 13:10] yohanchatelain commented on #41
Yes I think we should discuss but for my case, I expect that all mantissa bits are noised and not the order of magnitude.

[2017-01-10 13:18] titeup commented on #41
You mean pseudo mantissa I suppose, but I got the idea.
Maybe I am wrong but there is 52 explicit bit stored, when you ask 53 precision to verificarlo, only the last bit change. When you ask 1 all should change.
I remember we had sort of this dicussion already with Pablo when debugging the function to set the noise magnitude (exponent). Didn’t remember what was the output.
I am passing by your lab

[2017-02-17 12:36] titeup opened #43 "ieee mode is not ieee..."
Hello guys,

Testing on nas omp I realised that the so-called ieee mode is not giving the same result as the original program.
The probelem seems related to the fact that in the current version it is a mode of the mpfr backend.
Float are convered to mpfr type and noise is set to zero. and then the rounding happen to produce the final result. During the process, the correct iee rounding is lost.
A

[2017-03-15 16:52] vincent-picaud opened #44 "Some troubles with a small example using the Boost C++ library"
Hi,

First of all thank you for sharing Verificarlo, that is really a promising project!

I just successfully installed it using your debian package

I also run with success the tests (test_tchebychev, test_...) that come with the source.

I just tried something more complicated, a special function of the Boost C++ library, but I got some troubles...

I wanted to test the  [Boost digamma function]

[2017-03-16 11:09] pablooliveira commented on #44
Dear Vincent,

On 03/15/2017 12:15 PM, Vincent Picaud wrote:

Thanks for your interest in Verificarlo. I'm glad you could install and
try it.

Your command is correct. The problem here is with the boost library
generating code that relies on x87 80 bits extended precision.

Unfortunately, we have not yet added x87 extended fp80 support in
verificarlo. Thanks for providing a small failing example.

[2017-03-16 12:14] vincent-picaud commented on #44
Bonjour Pablo,

Merci de votre réponse. J'ai eu aussi une réponse de Christophe. Afin de me
situer un peu je me permets un copié/collé:

""
Je suis à l'étage au dessus de la maison de la simulation (CEA/Saclay).
Je n'ai malheureusement pas pu assister à la présentation de Christophe,
mais j'en ai eu connaissance et c'est ainsi que j'ai appris l'existence de
Verificarlo.

Ici au CEA je fais plutot

[2017-03-22 09:29] vincent-picaud commented on #44
Here is a feedback concerning my problem.

Boost::math has a macro, BOOST_MATH_NO_LONG_DOUBLE_MATH_FUNCTIONS, that disables long double computations.

Now my code compiles with it:

Unfortunately I get a SIGSEGV at running time... I have not investigated this (there is no SIGSEGV when compiling with g++ or clang++).

However for another special functions, like the Gamma one

everything is running

[2017-03-22 15:40] pablooliveira commented on #44
Thanks a lot for the reporting your work-around for long double Vincent.

It would be interesting to see why verificarlo makes your program segfault. Could you provide us a stack-trace of the crash ?

One way to get it should be something like:
[code]

[2017-03-22 16:12] vincent-picaud commented on #44
Sure

Program received signal SIGSEGV, Segmentation fault.
0x0000000000000000 in ?? ()
(gdb) bt
#0  0x0000000000000000 in ?? ()
#1  0x00000000004040ac in boost::math::detail::digamma_imp_1_2<double> (x=1.5) at /usr/include/boost/math/special_functions/digamma.hpp:337
#2  0x0000000000402498 in boost::math::detail::digamma_imp<double, mpl_::int_<53>, boost::math::policies::policy<boost::math::polici

[2017-03-22 16:16] vincent-picaud commented on #44
(the second #include is #include <iostream>, I do not know why this was rubbed out)

[2017-04-26 10:43] #11 closed

[2017-04-26 10:48] titeup opened #48 "MPI support"
Hello,
I prototyped an mpi support (no specific feature related to mpi operation, just compile the binaries with verificarlo) based on mpich script that seems to work pretty well on my HPC use case. This should be discuss during our next meeting to figure out the best way to integrate it (software and license).
I'll pass the current version to Yohan to test it with its app to have a broader valida

[2017-04-26 13:39] titeup commented on #40
work in progress

[2017-04-26 13:40] #27 closed

[2017-05-03 12:37] pablooliveira commented on #44
Dear Vincent,

I found the root cause of this ! Thanks for your valuable info. The fix is at #50 and should be merged soon :tada:

[2017-05-03 15:23] #44 closed

[2017-05-04 20:10] vincent-picaud commented on #44
Dear Pablo,
Wow, that is a great news!
Thank you for your work,
Vincent

2017-05-03 14:37 GMT+02:00 Pablo de Oliveira Castro <
notifications@github.com>:

[2017-07-24 19:12] titeup commented on #43
solved, but not released in verificarlo

[2017-07-24 19:12] #43 closed

[2017-07-24 19:14] titeup commented on #41
done

[2017-07-24 19:14] #41 closed

[2017-07-24 19:15] titeup commented on #48
Yohan has extended the prototype, maybe it is time to discuss how to release it ;)

[2018-04-25 09:44] cheche19 opened #62 "Newer LLVM support"
Currently verificarlo support LLVM up to version 3.8.1.
LLVM current version is 6.0, and most modern linux distrubution use version 4.0+.
Do you think that verificarlo can be updated to support newer llvm ?

Thanks.

[2018-04-25 13:29] pablooliveira commented on #62
Supporting newer LLVM versions is not difficult; but requires some work. Usually it requires minor adaptations to the libVFCInstrument library (https://github.com/verificarlo/verificarlo/blob/master/src/libvfcinstrument/libVFCInstrument.cpp).

Currently some work is being planned to merge and finish the VeriTracer branch; so I would prefer to wait before upgrading master to LLVM 6.0.

Do you have

[2018-05-31 12:35] #62 closed

[2018-06-28 07:52] pablooliveira opened #66 "veritracer launch should stop with prefix-dir error"
Example
[code]
I would expect that when veritracer launch fails with a prefix-dir error; no experiments are launched. Yet, trace directories 1 to 10 have been created (outside of prefix-dir).

[2018-06-28 07:57] pablooliveira commented on #66
sorry, this was  already fixed in the last version !

[2018-06-28 07:57] #66 closed

[2019-04-10 15:35] titeup commented on #40
done, waiting Cie internal approval for release.

[2019-04-10 15:35] #40 closed

[2019-04-10 15:37] titeup commented on #31
Test program are regularly being added, this issue is not relevant anymore

[2019-04-10 15:37] #31 closed

[2019-06-13 00:01] hbrunie opened #83 "configure failure during checking can compile with and link with LLVM(all)..."
Hello,

the configure test failed to compile the simple main test.
I used LLVM 4.0.1 compiled with gcc 4.8.5.
It seems that some flags are missing.

I corrected it changing line 104 of file m4/ax_llvm.m4
104   LDFLAGS="$LDFLAGS -stdlib=libstdc++ -pthread -ltinfo -ldl"

Nevertheless, I'm not sure this is the best way to correct this "bug".
Thanks for your work,
 Hugo

[2019-08-06 09:21] pablooliveira opened #87 "test_backends strange behavior on RR mode with MPFR MCA backend"
When running test_backend, which compares MPFR and QUAD backends with 50 random samples accross all basic FP operations, on RR mode at precision 23, the MPFR backend reports a +inf error.

[code]

[2019-08-06 14:45] pablooliveira commented on #83
I think this should be fixed in #91, but it's hard to reproduce your environment. Please feel free to reopen if there is still a bug and many thanks for the report.

[2019-08-06 14:48] pablooliveira commented on #26
Closing as there is no activity. Feel free to reopen, if you want to improve documentation.

[2019-08-06 14:48] #26 closed

[2019-08-06 14:54] pablooliveira opened #92 "Improve performance in verificarlo.in.in"
It should be possible to improve slightly the performance of verificarlo's build by controlling better the optimizations flags during the library and wrapper's build.

- [ ] In particular, we should ensure that backends are optimized (`-O2` at least).
- [ ] We could leverage LTO support in clang to inline vfc_calls from .vfcwrapper.c

[2019-08-07 08:25] #83 closed

[2019-08-07 15:33] gkiar opened #95 "Get Zenodo DOI?"
It would be nice to have a citable DOI for each version of the code (alongside the pre-print/soon to be published paper), to more easily identify the specific build that is used in a given dependency. I noticed you just made a version, and Zenodo can automatically hook in creating a fresh DOI each time to you do this. Instructions pasted below, in case you're unfamiliar with this integration:

htt

[2019-08-08 07:27] pablooliveira commented on #95
Good idea ! Zenodo is now linked to verificarlo's github. Thanks for the detailed discussion.
Unfortunately, it is not possible to tag old releases. Nevertheless next release will be tagged automatically.

To get a doi for the pre-print, we will either do a minor version release before the deadline if we have new code changes; or we will manually tag release 0.2.2 by uploading a release tarball.

[2019-08-12 16:17] pablooliveira opened #96 "bool vectors are forbidden in LLVM 4.0"
Commit #84 breaks support for LLVM 4.0 since extended [bool vectors are forbidden](https://lists.llvm.org/pipermail/cfe-commits/Week-of-Mon-20160125/148245.html). Reported by @yohanchatelain, Thanks !

[2019-08-12 16:18] pablooliveira commented on #96
Working on this.

[2019-08-13 13:17] #96 closed

[2019-08-15 05:34] pablooliveira opened #98 "verificarlo fails compiling rotg.c in openblas (fp80)"
This seems related to fp80 support,

[code]

[2019-08-15 10:53] pablooliveira commented on #98
Similar to #44.

[2019-08-15 10:54] #98 closed

[2019-08-16 10:07] pablooliveira commented on #87
@yohanchatelain has found the issue for this, I assign the ticket to him.

Thanks,

Pablo

[2019-08-17 11:25] pablooliveira opened #100 "rewrite test_backends using Chi-2 test"
Instead of using an arbitrary threshold when comparing sampling distributions from our two MCA implementations, we could instead do a Chi-2 test to check that they follow the same distributions.

[2019-08-19 07:38] #95 closed

[2019-08-23 14:07] yohanchatelain opened #104 "Add guard to avoid spurious precisions"
https://github.com/verificarlo/verificarlo/blob/be678156e1f50009c2e01a04d5efd4dacf53321f/src/backends/interflop-mca-mpfr/interflop_mca_mpfr.c#L97-L99
https://github.com/verificarlo/verificarlo/blob/be678156e1f50009c2e01a04d5efd4dacf53321f/src/backends/interflop-mca/interflop_mca.c#L102-L105

[2019-08-23 14:48] pablooliveira opened #106 "lib_mca backends could have a different virtual precision for floats and doubles"
We could set a different virtual precision for floats and doubles in mca backends. This would allow to run for example RR/53 for doubles and RR/24 for floats. This change is pretty simple and [has already been added](https://github.com/edf-hpc/verrou/blob/bf6eca9d31e6a6a61150c90998f52c1d7bdf9c95/backend_mcaquad/mcalib.c#L91) by @lathuili, we should backport his change here in both libinterflop_mca

[2019-08-23 14:49] pablooliveira commented on #106
@yohanchatelain since you were planning to make some improvements in mca backends feel free to also tackle this if you like.

[2019-08-23 14:53] pablooliveira opened #107 "Update tutorial with new VFC_BACKENDS interface"
The tutorial should be updated to reflect the recent user interface changes for verificarlo.

[2019-08-26 15:31] pablooliveira opened #110 "configure.ac should check for __float128"
libinterflop-mca backend (quad backend) requires support for __float128.

We should check that this type is supported in configure.ac.

https://gitlab.freedesktop.org/pixman/pixman/commit/09600ae7e34eb777471c931cd4c3a8cdbda6e84a gives an example of how to do this.

[2019-08-27 07:30] yohanchatelain opened #111 "Issue in the qnoise function"
https://github.com/verificarlo/verificarlo/blob/6b86bcd044edbe316a3c766a84f5de5cb2603ea3/src/backends/interflop-mca/interflop_mca.c#L172-L173
The `qnoise` function computes `2^(exp)*d_rand` so if the exponent is 0 we should return `d_rand` instead of 1.

https://github.com/verificarlo/verificarlo/blob/6b86bcd044edbe316a3c766a84f5de5cb2603ea3/src/backends/interflop-mca/interflop_mca.c#L178-L179

[2019-08-27 07:38] pablooliveira commented on #111
Good catch :+1:

[2019-08-27 12:44] yohanchatelain opened #113 "Wrong output for verbose mode"
https://github.com/verificarlo/verificarlo/blob/6b86bcd044edbe316a3c766a84f5de5cb2603ea3/src/libvfcinstrument/libVFCInstrument.cpp#L301-L305

Since `I` is a pointer, we must take the value not the address.

[2019-08-29 07:42] #113 closed

[2019-08-30 09:06] #111 closed

[2019-08-30 13:18] pablooliveira commented on #100
Finally we will take another way, since we can fix a RNG seed with 2007c03; we will compare the two MCA backends bit by bit.

[2019-08-30 13:18] #100 closed

[2019-08-30 17:55] #87 closed

[2019-10-03 07:00] titeup commented on #48
This issue is closed and will reopened when internal discussion about release will converge.

[2019-10-03 07:00] #48 closed

[2019-10-16 21:00] titeup commented on #92
For the last one I don't see reason not to do it.

For the first one, even if this is (probably) not the case right now, I am not sure that in the future some backend might requires O0. For this one I would suggest a deeper change with test that validate the optimized backend with a reference compiled in O0 on the existing related test, and maybe the possibility to specify for each backend the max

[2019-10-16 21:06] titeup commented on #107
@pablooliveira  I think we can close that one after IXPUG tutorial release?

[2019-10-17 13:09] pablooliveira commented on #107
Indeed, closed :-)

[2019-10-17 16:22] mistoan opened #123 "PYTHONPATH is not set correctly for ddebug whch causes vfc_ddebug to fail"
For vfc_debug to work, $PYTHONPATH needs to contain the path to the location where the verificarlo python packages are installed.
This is not set correctly during setup.
The automatic test 5 test_ddebug_integration fails, but isn't detected by the integration tests, as the path is set correctly in the docker image.
A temporary fix is to export manually the path to the environment.

[2019-11-08 16:41] mistoan opened #126 "python3 is missing numpy dependency"
There is a missing dependency towards the numpy package for users of Python3.
This shows up when using the delta debug feature.

[2019-11-08 16:42] mistoan commented on #123
The issue has been pointed out in the documentation and a fix is also provided in the documentation.

[2019-11-08 16:51] titeup commented on #126
I can confirm. I just got this afternoon the same 'bug' when doing a fresh
install on a new system.

Le ven. 8 nov. 2019 à 17:41, mistoan <notifications@github.com> a écrit :

[2019-11-12 09:24] #123 closed

[2019-11-13 22:35] #126 closed

[2019-11-22 19:12] KillianBabilotte opened #129 "Bug in static mode"
I tried to install verificarlo on my computer following the README.md instruction. After running the installcheck I've got one test failure on the "test_static_mode". The file test.log said :

[code]

[2019-11-26 11:55] DamDem opened #131 "bug with argument parsing in the backends"
[test.log](https://github.com/verificarlo/verificarlo/files/3891699/test.log)
[config.log](https://github.com/verificarlo/verificarlo/files/3891700/config.log)
I installed verificarlo on my device following the README.md.  After running "make installcheck"  test_ieee_backend failed. I linked the test.log related on this test and the config.log.

[2019-11-28 08:50] pablooliveira commented on #131
@DamDem thanks for the report !

@yohanchatelain you mentioned that you also got this bug and knew how to fix it; I'll assign it to you. Thanks :muscle:

[2020-01-17 11:09] yohanchatelain commented on #129
@KillianBabilotte are your sure that is not a problem of LD_LIBRARY_PATH? Because I can't reproduce your bug.

[2020-01-17 12:53] KillianBabilotte commented on #129
I'm not sure about the problem cause because it disappear on the following executions and I can't reproduce it either. But between the failed execution and the succeed one, I changed absolutely nothing, I only rebooted my machine. So I kept the Issue opened because I found it even more strange. I called it a failure because it is the return output in the terminal in the list of test execution by c

[2020-01-17 13:16] titeup commented on #129
If you rebooted your machine one of the side effect is to reset your env
variables.
Yohan is probably right.

Le ven. 17 janv. 2020 à 13:53, Killian Babilotte <notifications@github.com>
a écrit :

[2020-01-20 14:33] pablooliveira commented on #129
Ok let's close this. Feel free to reopen if the bug ressurfaces.

[2020-01-20 14:33] #129 closed

[2020-01-21 14:38] #131 closed

[2020-01-22 09:27] yohanchatelain opened #134 "Add Coverity report into CI"
Add [coverity scan](https://scan.coverity.com/github) to

[2020-01-22 16:15] pablooliveira commented on #134
Please replace the covery badge on the README.md by the one auto-generated in the github pipeline, once you implement this. Thanks!

[2020-02-06 23:39] yohanchatelain opened #140 "Error with llvm-3.3 and llvm-3.4"
Verificarlo crash during the execution with llvm-3.3 and llvm-3.4.
It seems that a function has been introduced since llvm-3.5 and breaks the execution.
I will provide a full report.

[2020-02-07 14:11] #104 closed

[2020-02-07 14:11] #106 closed

[2020-02-07 14:11] #110 closed

[2020-02-14 12:15] yohanchatelain opened #145 "test_unstable_branches fails with llvm-3.9.1"
It seems to be an error of llvm-3.9.1, see the following [post](http://llvm.1065342.n5.nabble.com/llvm-dev-CloneFunctionInto-produces-invalid-debug-info-td110077.html).
We should perhaps warn the user in the README.md.
--
[config.log](https://github.com/verificarlo/verificarlo/files/4204366/config.log)
[test.log](https://github.com/verificarlo/verificarlo/files/4204367/test.log)

[2020-02-14 12:56] yohanchatelain commented on #140
Both versions crash with the same error during the testing.

  -load request ignored.
opt: Unknown command line argument '-vfclibinst'.  Try: '/usr/lib/llvm-3.4/bin/opt -help'
opt: Did you mean '-lint'?

This symbol seems to be there from version llvm-3.5.

--
[test-llvm-3.3.log](https://github.com/verificarlo/verificarlo/files/4204491/test.log)
[config-llvm-3.3.log](https://github.com/verificarlo

[2020-02-26 13:05] yohanchatelain opened #150 "Wrong names for float comparisons in interflop_ieee.c?"
https://github.com/verificarlo/verificarlo/blob/b4988bca5c803f9557d610cbccb2b5690b64aa15/src/backends/interflop-ieee/interflop_ieee.c#L213-L219

[2020-02-26 14:13] yohanchatelain opened #151 "Delta-debug section is missing in the README"

[2020-02-26 14:17] pablooliveira commented on #151
Indeed and thanks for reporting this. I should take the time to write it before the next release. You can assign this issue to me, except if you want to take a shot at this.

[2020-03-11 18:08] gkiar opened #154 "ability to provide arguments in environment variable without spaces?"
Hi!

I'm currently trying to use Verificarlo inside a Singularity container, but there is a bug in their stack that prevents me from providing environment variables on the command-line that contain spaces (see https://github.com/sylabs/singularity/issues/5108). While they work on this, I was wondering if there is any way to specify args for verificarlo that would be compatible with this restrictio

[2020-03-12 11:29] pablooliveira commented on #154
Dear @gkiar. I'm not sure we can remove spaces from VFC_BACKENDS.
But it seems you can escape the spaces by adding additional quotes as suggested in sylabs/singularity#5108. Would that be acceptable ?

[2020-04-02 13:37] #151 closed

[2020-04-02 13:53] pablooliveira commented on #150
Hi @yohanchatelain can you explain the problem here, please.

[2020-04-02 13:55] pablooliveira commented on #134
This seems not possible currently with the coverity pipeline. We will manually update the badge; and test major releases.

[2020-04-02 13:55] #134 closed

[2020-04-03 08:25] yohanchatelain commented on #150
Line 215, the variable `str`is empty, line 219 `str = "FCMP_UGT"` that is different from the above case. Is there a mistake?

[2020-04-03 08:27] pablooliveira commented on #150
Ah yes ! This seems indeed a mistake, thanks :-)

[2020-04-03 08:30] pablooliveira commented on #150
This has been fixed in your refactoring of ieee backend, closing !

[2020-04-03 08:30] #150 closed

[2020-04-10 11:05] Avaquet opened #157 "log info in cancellation backend"
Hello,
Just to warn you on the lack of "\n" at the end of the log info in interflop_cancellation.c at the line 209.
` logger_info("interflop_cancellation: loaded backend with tolerance = %d \n", TOLERANCE);`

[2020-04-10 11:47] pablooliveira commented on #157
Thanks @Avaquet, do you want to do a PR ?

[2020-04-10 12:17] Avaquet commented on #157
not it's not big enough i think

[2020-04-10 13:03] pablooliveira commented on #157
Even small fixes are important :rainbow:

[2020-05-01 14:18] #157 closed

[2020-05-08 06:09] roblim1 opened #163 "LLVM 8?"
I tried installing Verificarlo with LLVM 8.0.1 and 9.0, both compiled with source, but get the following error.  See [config_vfc_llvm8.log](https://github.com/verificarlo/verificarlo/files/4597267/config_vfc_llvm8.log).  Verificarlo with LLVM 4.0.1 (source) works for me.

[2020-05-12 09:57] yohanchatelain commented on #163
It seems that `-pthread` flags is missing with version of gcc < 6. As workaround, you could try to add this flag with CFLAGS="-pthread" or use a higher version of gcc. I will look at this more closely.

[2020-05-14 03:19] roblim1 commented on #163
Thanks for looking into this.

I tried adding CFLAGS="-pthread" for gcc 5.3, llvm 8 (prebuilt, source), but get the attached errors:
  [config_llvm801p_gcc53.log](https://github.com/verificarlo/verificarlo/files/4625854/config_llvm801p_gcc53.log)
  [config_llvm800s_gcc53.log](https://github.com/verificarlo/verificarlo/files/4625855/config_llvm800s_gcc53.log)

gcc >= 6 with llvm 8 prebuilt without

[2020-05-14 09:24] yohanchatelain commented on #163
Ok, it seems that llvm-6 and above are not compatible with gcc < 6. We will upgrade the requirements, thank you.
However, your config.log said that you used gcc-5.3. Add `CC=gcc-6` during the configure to specify the gcc version. It works for me with gcc-6 and llvm-6 to llvm-9.

[2020-05-14 19:28] roblim1 commented on #163
With CC=gcc-6, I get this error:
     [config_llvm801p_gcc64.log](https://github.com/verificarlo/verificarlo/files/4630447/config_llvm801p_gcc64.log)

[2020-05-15 06:55] pablooliveira commented on #163
Hi @roblim1. In your output we find the line

[code]

It seems gcc-6 cannot be found in your PATH.

[2020-05-15 07:07] roblim1 commented on #163
Not sure if I have gcc-6 as an executable command.

[code]
[code]
[code]

[2020-05-15 07:08] roblim1 commented on #163
Should I symlink it?

[2020-05-15 07:32] pablooliveira commented on #163
No need to symlink. But configure needs to find the command you pass. If you do not have gcc-6 as a command, then you cannot call configure with "CC=gcc-6". You must use the appropriate path in your system.

[2020-05-15 13:26] roblim1 commented on #163
Here is the config.log for gcc 6.4:
  [config_llvm801p_gcc64.log](https://github.com/verificarlo/verificarlo/files/4634617/config_llvm801p_gcc64.log)

[2020-05-19 11:52] titeup commented on #107
I will update the new one with last update of vfc backend option for MCA

[2020-05-19 11:53] titeup commented on #107
[main-en.pdf](https://github.com/verificarlo/verificarlo/files/4650158/main-en.pdf)

[2020-05-19 11:54] titeup commented on #107
created the link to the new pdf.  @pablooliveira can you review it before we push it on the wiki.
I will do the same with the source code which also changed.

[2020-05-19 11:58] titeup commented on #107
can't upload tgz, I'll check with @pablooliveira how to create the link for the wiki

[2020-05-19 12:03] titeup commented on #107
[verificarlo-tutorial.pdf](https://github.com/verificarlo/verificarlo/files/4650206/verificarlo-tutorial.pdf)

[2020-05-19 12:09] titeup commented on #107
[verificarlo-tutorial.zip](https://github.com/verificarlo/verificarlo/files/4650249/verificarlo-tutorial.zip)

[2020-05-19 12:09] titeup commented on #107
zip it will be...

[2020-05-19 12:12] titeup commented on #107
But I need to update verificarlo tutorial main-en.tex again to use these last links... update file, limk, pull request, merge and so on...

[2020-05-19 13:51] titeup commented on #107
[verificarlo-tutorial.pdf](https://github.com/verificarlo/verificarlo/files/4650876/verificarlo-tutorial.pdf)

[2020-05-19 13:54] titeup commented on #107
done, last update on verificarlo-tutorial git asap

[2020-05-19 13:54] #107 closed

[2020-06-04 09:15] yohanchatelain opened #164 "No support for vector operations longer than the archictecture's vector width"
The backend for the double4 gives wrong results.
In the following minimal example [test-vecto.zip](https://github.com/verificarlo/verificarlo/files/4728825/test-vecto.zip), I add the value 2 to a vector of 0 for different vector sizes.
For the double4 type, we have arbitrary values.

[code]
When I compile with `clang` the code is working.
[code]
I suspect the compiler to pass the vector by referen

[2020-06-05 08:40] Avaquet opened #166 "SGP4 bug by using verificarlo"
I've tried to compile and use SGP4 (https://www.danrw.com/sgp4/) with verificarlo.
[CMakeLists.txt](https://github.com/verificarlo/verificarlo/files/4734876/CMakeLists.txt)
When i use verifiicarlo to compile the project with CMake, i have a lot of warning flags on an unused include path and then the compilation fail because the linking with the c++ standard librairy is not done.
I've used the folo

[2020-06-08 08:40] pablooliveira commented on #164
Interesting. If that is the case it should be possible to fix. I will try to have a look soon.

[2020-06-19 16:09] yohanchatelain opened #167 "test_cancellation is broken"
The test returns ok but it should not. Actually, the directory OUTPUT does not exist so `test.sh` fails and the `diff` too. When I create the directory, the `diff` commands fails and I got an error.

[2020-06-20 09:57] pablooliveira commented on #164
@yohanchatelain has shown that the problem triggers because his system does not have AVX instruction set. Therefore when forcing a size 4 vector with `typedef double double4 __attribute__((ext_vector_type(4)));` or other means on an architecture that does not support such vector width; the vector cannot be passed as a register.

clang is able to handle those cases by passing the vector as a pointe

[2020-06-22 07:44] pablooliveira commented on #167
@Avaquet Do you want to take this, since it's originally your code ?

[2020-06-25 21:41] roblim1 commented on #163
I was able to build Verificarlo successfully on another machine (clang 8.0.1, gcc 6.4), and 22/26 of the tests pass (looks like paths issues).  The machine I was using previously is on a shared file system with multiple modules, so there may have been conflicts there.

Thanks all for looking into this!

[2020-06-25 21:41] #163 closed

[2020-07-02 13:48] pablooliveira commented on #140
Since #165, 3.3 and 3.4 are unsupported. Closing.

[2020-07-02 13:48] #140 closed

[2020-07-02 13:48] pablooliveira commented on #145
Since #165, 3.3 and 3.4 are unsupported. Closing.

[2020-07-02 13:48] #145 closed

[2020-07-02 14:04] pablooliveira commented on #167
This should have been fixed in #168.

[2020-07-16 12:14] #167 closed

[2020-07-24 10:09] Avaquet opened #171 "Function instrumentation may fail for intrinsics"
Compilation can fail when function instrumentation in used. Because parameter attributes are not correct.

[2020-08-20 13:23] titeup opened #175 "vprec bug for negative exponent"
With the last fix we've done in the vprec backend test (PR in progress), we can confirm that the weird behavior appearing in Allan experiment was coming from a bug in vprec. We need to investigate.
An example of this behavior appear in the following log (mpfr has the correct answer):
float: MODE=OB RANGE=2 PRECISION=3 OP=+
Relative error too high: a=0x1.ff10ddbd996a2p-7 b=0x1.137d3527080f0p-2
mpfr

[2020-08-20 13:25] titeup opened #176 "buggy test_vprec_backend"
It was not testing negative exponent because of minor bugs, and it is a good opportunity to improve it.

I linked the corresponding PR.

[2020-08-20 13:30] #154 closed

[2020-08-31 13:38] titeup commented on #176
The test in the PR is now testing at least once in the following interval:
- [2^emin+1:2^emax-1] => the full range
-[-1:1] => negative exponent
-[-2^emin:2^emin] => denormals
These interval are not exclusive which means taht for a small number of sample if you are really unlucky they can all fall in the samllest interval.
The minimum number of samples is 3:
-if you ask less you will have 3
-if you

[2020-09-14 10:24] pablooliveira opened #180 "Rewrite tests_vprec_backends with python-gmp instead of python-bigfloat"
To remove a pip dependency.

[2020-09-14 10:24] #176 closed

[2020-09-14 10:27] titeup commented on #175
solved with PR #174

[2020-09-14 10:27] #175 closed

[2020-09-14 10:29] pablooliveira opened #181 "write exhaustive test for test_vprec_backends"
In #174 we decided to write an exhaustive test on the full 8-bit range for vprec. @ddavid42 proposed to generate the input file, we can reuse the test framework inside test_vprec_backend_simple.

[2020-10-13 14:01] pablooliveira opened #184 "UI: add --preset= to vprec backend"
To make vprec more user friendly, we could add a simple `--preset=` option that loads pre-configured settings for precision and range. We could therefore support --preset=bfloat16, --preset=tensorflow32, --preset=binary16, --preset=fp24, etc.

There is a good overview of available formats [here](https://en.wikipedia.org/wiki/Bfloat16_floating-point_format).

[2020-10-19 16:08] yohanchatelain opened #186 "Performance of MCA backends: MPFR faster than QUAD"
I compared the performance of MCA backends MPFR and QUAD and it seems that MPFR is faster than QUAD while I expected the oposite.
Here are the results of the comparison for the `test_fortran_NAS`, `time ./test.sh`:
`libinterflop_ieee.so` 1.7s
`libinterflop_mca.so` 23.7s
`libinterflop_mca_mpfr.so` 18.5s
So MPFR seems to be 30% faster.
I attached the [test.gz](https://github.com/verificarlo/verifica

[2020-10-19 17:15] pablooliveira commented on #186
Here are the timings in my system  Intel(R) Core(TM) i7-5600U CPU @ 2.60GHz with 8Gb ram (I repeated runs two times) :

libinterflop_mca.so 26.55, 26.53
libinterflop_mca_mpfr.so 23.93, 23.23

So indeed it seems mca is slower on this benchmark than mca_mpfr.
This is not critical but we should benchmark both implementations again.

I remember having benchmarked on my same exact system both backends

[2020-10-19 17:16] pablooliveira commented on #186
And thanks for packaging the benchmark @yohanchatelain !

[2020-10-19 19:22] xinyi-li7 opened #187 "An undefined reference to 'main' error when I run your tutorial in docker"
I searched a lot and really don't what happened here
![image](https://user-images.githubusercontent.com/69008042/96501745-09e86780-120e-11eb-8134-1d86eb1f329f.png)

[2020-10-19 19:47] yohanchatelain commented on #187
Hi,
Thank you for the report. First, we didn't have update the tutorial but now you should use `verificarlo-c` for compiling `C` files.
Moreover, it seems that you are not the in the directory `tchebychev`, do you copy the file into workdir? If not, could you please try the compile command in the `:/workdir/tchebychev` and tell the output?

[2020-10-19 20:29] xinyi-li7 commented on #187
Hi, thanks for your reply! I think I am in the tchebychev, and I listed all the files here:
![image](https://user-images.githubusercontent.com/69008042/96507882-0d342100-1217-11eb-9cd1-71b1bd05a589.png)
What's more, I also run the test code on your webpage, and it still rendered the same error.
![image](https://user-images.githubusercontent.com/69008042/96508201-761b9900-1217-11eb-9f1d-10ecd0bd360

[2020-10-20 08:17] pablooliveira commented on #187
Hi @xinyi-li7, thanks for your report. I cannot reproduce your bug report with the latest docker image.

In the first output you posted in the first edit of your message, the problem is that the verificarlo command was run outside of the docker image, as shown in your prompt. When using verificarlo through the docker image please ensure that you run commands inside the image.

In the second output

[2020-10-21 02:33] xinyi-li7 commented on #187
I just followed the steps in your readme file:
![image](https://user-images.githubusercontent.com/69008042/96665894-2cb07400-1313-11eb-8851-3b98e2dfd5db.png)
BTW, I used a MacOS, will it be the issue? But I think we used the container, so I don't think it would be a problem at first.

[2020-10-21 09:06] pablooliveira commented on #187
What you did seems indeed correct. The message from the linker indicates he cannot find the `main` function in the compiled object files. I'm not sure what is going on and do not have a MacOS system to reproduce.

Could you please check the output of this command after the above ones:
[code]

I would like to check that the symbol `main` is present in the generated object file.

Other things you co

[2020-10-21 19:46] xinyi-li7 commented on #187
Hi, I just followed the same steps in a virtual box machine, and it worked. I guess it caused by some unknown conflicts with MacOS.

[2020-10-21 19:46] #187 closed

[2020-10-22 08:07] pablooliveira commented on #187
@xinyi-li7: I'm happy it worked for you in the end. Thanks for reporting the problem, we will keep an eye for any strange behavior in MacOS.

[2020-12-08 20:11] Sholde commented on #164
Hello,
I have AVX instruction set on my architecture and even if I compile a program with **double4** type and `-mavx` or `-march=native` flags for Verificarlo compiler, this give wrong result for all backends.

[2020-12-08 20:13] Sholde opened #193 "Clean tests folder after installcheck"
I think that clean the **tests** folder after check the installation will be nice or at least clean with clean target. (I don't know for the moment how to do it properly)

[2020-12-09 16:34] pablooliveira commented on #193
Thanks @Sholde. I agree that this would be nice but it is not easy to do. Indeed, currently tests do not clean after themselves. It is actually useful to have the traces left for inspection when one of the tests breaks.

But I agree, it would be nice to be able to clean tests directory. I can see either adding make clean targets to each test; or changing the tests so they output files to a particu

[2020-12-09 16:36] pablooliveira commented on #164
@Sholde could you please tell us which architecture you are using here ?

[2020-12-09 17:40] Sholde commented on #164
I am on Virtual Machine with Manjaro linux distribution based on Archlinux where I use 4 of 6 core that I havec on my cpu.

Here my **cpuinfo** file :
[code]

For more information, I think Verificarlo use good architecture option flags like `-march=native` because when I use the command : `verificarlo-c --show-cmd main.c -march=native` this show me :

[code]

[2020-12-09 20:52] yohanchatelain commented on #164
Hi @Sholde, you should use the same version of clang and llvm, btw verificarlo the last version of clang support by verificarlo is the 10.
Could you please show your `config.log` file?
Also could you please test this command `verificarlo-c main.c -O3 -fno-slp-vectorize`?

[2020-12-09 21:24] Sholde commented on #164
Hi @yohanchatelain , thanks for your answer, it works with the option `-fno-slp-vectorize` on Verificarlo for all backends except for **double16**. I am going to search why. (I will put my config.log soon)

[2020-12-14 23:38] yohanchatelain commented on #193
Why don't use `git clean` command?

[2020-12-15 07:47] pablooliveira commented on #193
It's indeed a good option; but it relies on git been used; which is not the case for users downloading our `.tar.gz` releases.

We could also use `git` to automatically generate a list of created files and add a single make clean target in `src/tests/`.

[2020-12-15 17:36] yohanchatelain commented on #193
Good point, I didn't think about the .tar option. Generate the make clean seems the best solution then.

[2021-02-10 11:00] Sholde commented on #193
Hi,

I did a clean target with `git clean` command here : https://github.com/Sholde/verificarlo/commit/90cf2209e480e9127d11e70c0e9d38518dba8d46.
But this method requires to generate a list with all supposed file to clean, but it doesn't clean all file if  certain file was generate only if the test failed (I am not sure that files exist now).
And especially it doesn't clean ignored files (in `.giti

[2021-02-12 21:44] yohanchatelain opened #203 "New release v0.4.2"
Plan to release new version v0.4.2, with the new contents:
- Support of LLVM 11
- Option to add abolute or relative error
- Option to read VFC_BACKENDS from file

[2021-02-15 21:27] #203 closed

[2021-02-19 12:32] mistoan opened #205 "Error documentaion of the function instrumentation"
I believe there is an error in the description of the function instrumentation section.
Currently it is:
[code]
It should be:
[code]

[2021-02-19 13:25] pablooliveira commented on #205
Thanks for the patch. Could you please do a PR fixing this ?

[2021-02-19 14:43] mistoan commented on #205
I've just noticed that the function instrumentation section isn't present in the overview of the readme file either.
Will do a pull request to fix it.

[2021-02-24 13:43] mistoan opened #206 "Inconsistency in the way instrumented functions are specified for inclusion/exclusion and --inst-func"
There is an inconsistency between the way in which functions are specified for inclusion/exclusion from verificarlo instrumentation and for the --inst-func option.
For inclusion/exclusion the mangled name is used, but for --inst-func option the un-mangled name is used.

[2021-02-24 14:48] Avaquet commented on #206
Indeed, the function instrumentation uses unmangled names, which can be easily changed, but the function instrumentation pass did not manage inclusion/exclusion lists. Again, this can be done, and I think it will be an interesting feature.

[2021-02-24 18:44] mistoan commented on #206
No it does not.
But the exploration does.
Or at least that's what I understood from the documentation.
`If you're looking for the optimal precision for a set of functions:

./vfc_precexp exrun excmp function_1 function_2 ...
`
So the precision exploration does have it's mechanism for filtering.
At least, from my tests, I get different results when I use this list.

[2021-02-25 12:56] mistoan commented on #205
I've corrected these issues in pull request #207.

[2021-02-26 11:57] mistoan opened #208 "vfc_precexp hardcodes options"
Some important search options are hardcoded in the vfc_precexp script.
For example, the VPREC mode is set to all and there is no way of changing it.
The search script also goes through all possible modes of --funct-inst (operations, arguments and all) and there is no way to choose which exploration to do.
For some cases, it is useful to get faster results by exploring just one desired mode.

[2021-02-26 13:45] mistoan commented on #208
Also, I know the documentation warns about programs ending up in a state where they no longer terminate, but I think it could be useful to have an option to the exploration script to give a maximum acceptable runtime, instead of relying on the user to do it through the execution script.

[2021-03-01 16:04] mistoan opened #209 "vfc_precexp doesn't save partial exploration results"
Long precision explorations can fail for numerous reasons.
For the time being, vfc_precexp saves results at the end of each exploration step (Arguments, Operations, All).
I think it would be nice for the exploration to save the intermediary results, maybe have a checkpointing system where an exploration can be resumed from before a failure.

Also, when an exploration fails, the reporting script vf

[2021-03-02 12:02] pablooliveira commented on #206
We discussed mangling/unmangling around september/october 2020 with @yohanchatelain. I think the agreement was to use only binary names at the low-level. Since mangling depends on language (eg. Fortran/C++ have different mangling conventions).

Therefore I recommend we remove the unmangling call from the function instrumentation. This way we will be consistant and use only the symbol name in the b

[2021-03-02 13:01] #205 closed

[2021-03-02 14:18] yohanchatelain commented on #206
I agree, working on mangled name is the safest since some mangled functions cannot be demangled.
We could use `nm` + [llvm-cxxfilt](https://llvm.org/docs/CommandGuide/llvm-cxxfilt.html) to retrieve demangled names.

[2021-03-02 14:56] mistoan opened #210 "Parallelism in vfc_precexp"
I think this would bring a huge performance increase for the explorations.
For the moment, the dichotomic explorations are done sequentially.
In many cases, the executions inside an exploration don't influence each other, so a parallel version would be possible.

[2021-03-02 20:32] mistoan opened #211 "vfc_precexp adds dependency to pandas"
The script adds a dependency to pandas python package.
It seems that this isn't documented and the installation example doesn't mention it.

[2021-03-02 23:58] roblim1 opened #212 "Instrumenting Eigen"
Hi!

I am interested in instrumenting Eigen matrices with the virtual precision backend.  I am able to instrument selected applications from their benchmark suite; however, not all variables of interest are intercepted by Verificarlo's vprec backend.  When I instrument with the ieee backend in debug mode, some, if not all, variables and operations are intercepted.

I have listed examples from sele

[2021-03-03 13:11] pablooliveira commented on #211
Configure macro to check for python modules:

https://www.gnu.org/software/autoconf-archive/ax_python_module.html

[2021-03-03 14:26] mistoan commented on #211
Thank you for the hint!
I'll add the necessary checks to the build script.

[2021-03-08 15:22] mistoan opened #213 "Missing checks for installed Python modules"
The configuration script is currently missing checks for the required Python packages.
This is similar to issue #211.
A fix for issue #211 could fix this issue as well.

[2021-03-08 16:28] #208 closed

[2021-03-08 16:28] #211 closed

[2021-03-08 16:28] #213 closed

[2021-03-08 17:41] pablooliveira commented on #206
After looking at the code of `funcInstrument.cpp`, I agree that FuncInstrumentation does not mangle function names.

The only place where we were still calling `demangle` was in vfcInstrument pass.

[2021-03-08 19:07] roblim1 commented on #212
Closing this issue, as I've discovered how to properly access struct members in a module pass.

[2021-03-08 19:07] #212 closed

[2021-03-09 06:39] pablooliveira opened #217 "Eigen crash with FuncInstrument pass"
Crash appears in `benchCholesky.cpp`

[code]

Reported in #212 with instructions to reproduce,

Eigen compile:

[code]

[2021-03-09 07:16] pablooliveira opened #218 "Spack recipe for Verificarlo"
Maybe we could submit a SPACK recipe for Verificarlo. Here is a tested and working example,

[code]

Unfortunately, SPACK has dropped support for flang-7 which means we do not support Fortran in this recipe.

[2021-03-09 07:18] pablooliveira opened #219 "Improve rounding in MCA backends"
We could use the integer method proposed by @milankl and @ffevotte to improve our stochastic rounding in MCA backends:

https://github.com/milankl/StochasticRounding.jl/blob/master/src/float32sr.jl#L61-L70

[2021-03-09 07:32] pablooliveira commented on #193
Hi, thanks @Sholde. I prefer the first solution (adding a `clean.sh` to every test is a hassle). To solve the problem with ignored files, we would in addition to your clean list simply remove all `.o` and `.ll` files from `tests/` ?
Maybe with something like:
[code]
inside `cleantests:` target ?

If you feel up to it, I'll gladly help you merge a pull-request with this. Just submit the PR and tag

[2021-03-09 09:49] titeup commented on #171
Hello @Avaquet , I know this is a quite old one, but can you ellaborate the description. At least gives more details/code example to reproduce the issue. Thanks!

[2021-03-09 10:24] Avaquet commented on #171
Yes, it's old, it was fixed right after the creation of this issue. Attributes are now cloned during the instrument pass, so it's no longer a problem.

[2021-03-09 11:06] pablooliveira commented on #193
Ignore my previous message. After discussion in our team meeting, we have decided that the second solution, while more work is simpler and more robust.

If you want to do a PR for the second solution based around `clean.sh` scripts in tests directories we can merge it.

It would be important to make sure that if the `clean.sh` file is missing, there is no hard failure of the clean script.

[2021-03-09 11:16] pablooliveira commented on #171
Thanks for the feedback, closing !

[2021-03-09 11:16] #171 closed

[2021-03-09 11:18] #166 closed

[2021-03-12 12:34] pablooliveira commented on #206
Reopening, sorry we missed https://github.com/verificarlo/verificarlo/blob/35eadb89ed6150e8a09f0143f3f9437d9ea981c7/src/libvfcfuncinstrument/libVFCFuncInstrument.cpp#L505.

Thanks @mistoan for the catch. Could you please remove the if and keep only the mangled name.

[2021-03-12 14:57] mistoan commented on #206
I've added the fix in pull request #220 .

[2021-03-12 15:45] pablooliveira commented on #206
Merged #220.

[2021-03-12 15:45] #206 closed

[2021-03-15 10:37] mistoan opened #221 "vfc_report cannot plot intermediary results"
vfc_report only works when the exploration done using vfc_precexp does operations, arguments and all.
This is problematic, as the precisions exploration can now be done in a mode the user chooses.

[2021-03-19 08:29] #217 closed

[2021-03-22 14:17] pablooliveira commented on #193
Closed in #227.

[2021-03-22 14:17] #193 closed

[2021-04-06 12:17] titeup opened #231 "relicensing Verificarlo"
Dear contributors,  @verificarlo/devs
I just sent an email around to propose the relicensing of Verificarlo (except the mpfr backend).
This discussion started in https://github.com/verificarlo/fuzzy/issues/14
Here is the text of the email:
Dear Verificarlo contributors,

As discussed in PR Verificarlo/Fuzzy #14, we are discussing the idea of relicensing the project.
Today we are using GPLv3. The h

[2021-04-06 13:20] titeup commented on #231
I approve the Verificarlo relicensing under the LLVM license based on Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

[2021-04-06 13:43] gkiar commented on #231
I approve the Verificarlo relicensing under the LLVM license based on Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

[2021-04-06 14:00] mistoan commented on #231
I approve the Verificarlo relicensing under the LLVM license based on Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

[2021-04-06 14:14] yohanchatelain commented on #231
I approve the Verificarlo relicensing under the LLVM license based on Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

[2021-04-06 14:25] Avaquet commented on #231
I approve the Verificarlo relicensing under the LLVM license based on
Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

Le mar. 6 avr. 2021 à 16:15, Yohan Chatelain ***@***.***> a
écrit :

[2021-04-06 14:26] ddavid42 commented on #231
I approve the Verificarlo relicensing under the LLVM license based on Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

[2021-04-06 15:10] pablooliveira commented on #231
I approve the Verificarlo relicensing under the LLVM license based on Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

[2021-04-06 15:43] Sholde commented on #231
I approve the Verificarlo relicensing under the LLVM license based on Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

[2021-04-07 03:58] roblim1 commented on #231
I approve the Verificarlo relicensing under the LLVM license based on Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

[2021-04-14 12:12] redfoxp commented on #231
I approve the Verificarlo relicensing under the LLVM license based on Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

[2021-04-14 17:42] KillianBabilotte commented on #231
I approve the Verificarlo relicensing under the LLVM license based on Apache 2.0 (https://foundation.llvm.org/relicensing/LICENSE.txt)

[2021-04-15 06:45] titeup commented on #231
I received the consent of @ojamond by email.

[2021-04-28 13:31] gkiar opened #233 "Independent backend control for each library"
Hey team, lately @yohanchatelain @glatard and myself have been discussing the possibility of unique control variables for the verificarlo backend for each instrumented library in a given environment. The use case would be something like:

I've taken some notes about our anticipated plan for how to tackle this feature, here: https://github.com/gkiar/research/issues/3. The road block we see at the m

[2021-04-29 09:12] pablooliveira commented on #233
Thanks @gkiar !

[2021-04-29 09:20] pablooliveira commented on #233
This case triggers for example when the python interpreter and numpy library have both been compiled with Verificarlo. In that case, when numpy is loaded by the interpreter (with a dlopen call); the wrapper constructor is called a second time.

Changing this behavior is tricky since it depends on how the interpreter loads its dynamic libraries and plugins. I believe that in the case of the python

[2021-05-09 20:22] roblim1 opened #234 "Function names with length beyond current support"
Is there a way to increase the length of the function names read?  In [_interflop_enter_function()](https://github.com/verificarlo/verificarlo/blob/master/src/backends/interflop-vprec/interflop_vprec.c#L760), [vfc_hashmap_get()](https://github.com/verificarlo/verificarlo/blob/master/src/common/vfc_hashmap.c#L211) gets invoked for function_info->id.  If the function name is beyond a certain length,

[2021-05-09 20:32] roblim1 commented on #234
Never mind.  Looks like all I needed to do was to change [this](https://github.com/verificarlo/verificarlo/blob/master/src/backends/interflop-vprec/interflop_vprec.c#L628).

Thanks!

[2021-05-09 21:32] pablooliveira commented on #234
Interesting. Maybe we should increase the default size. What value would you recommend ?

[2021-05-09 22:14] roblim1 commented on #234
I've encountered ones with 1826.  I just added another zero in the end, also to [here](https://github.com/verificarlo/verificarlo/blob/0a57a69601073d14b50af4675a78a50af214e698/src/backends/interflop-vprec/interflop_vprec.c#L612).

[2021-05-09 23:10] roblim1 commented on #234
I've encountered ones with 1826.  Maybe, this could be dynamically sized?

[2021-05-18 09:17] roblim1 opened #241 "Function instrumentation for void"
I've recently discovered that in order to use the function instrumentation pass, I would need to wrap routines with arguments and/or return values.

For instance, if I had a void() function with no parameters that invoked a bunch of other functions or library calls, typical of benchmark suites, the function pass will not consider that function, since only arguments and return values are being inte

[2021-05-18 09:52] roblim1 commented on #241
Never mind. It looks like the current implementation annotates the void function as a path in the id, as long as other variables along the way are being intercepted.

I may have encountered an issue beyond this that I am close to zeroing in on :)

[2021-05-18 09:52] #241 closed

[2021-06-02 14:27] yohanchatelain commented on #164
**Update**:
This issue causes bug on [fuzzy](https://github.com/verificarlo/fuzzy) package when recompiling numpy (see issue [#34](https://github.com/verificarlo/fuzzy/issues/34)).
After looking at it in details, the bug is caused by a mismatched between functions signature in `vfcwrapper.c` and signatures generated in `libVFCInstrument.cpp`. When `-march=native` is passed as option, `clang` vecto

[2021-06-04 15:50] Sholde opened #245 "Warning when using math library"
Hi,

Last month I wrote a code which using **C math library** and I found a little bug.

When I didn't link the library I have the normal error due to of undefined reference. But when I linked it on verificarlo command line, `clang` tall me that is `unused`. But it is necessary due to the call of `sqrt` functions.

The code:
[code]

Error **without** link:
[code]

Warning **with** link:
[code]

Us

[2021-06-04 17:57] yohanchatelain commented on #245
This is a normal behavior, all flags are passed to the compiler and the liker but at compile stage we don't need libraries flags. We could parse them and dispatch them correctly.

[2021-06-04 18:38] Sholde commented on #245
Yes, when I said it is a little bug I mean that is not the same behaviour that clang because we have this warning.

[2021-06-07 08:04] roblim1 opened #246 "Composites in vpec backend"
I am implementing capabilities to intercept floats and doubles within structs and applying Verificarlo's backend accordingly.

The issue I am facing is that arguments are treated as atomic units in the vprec backend, whether float, double, float ptr, or double ptr (arrays of same type):
https://github.com/verificarlo/verificarlo/blob/1237459a553b55577716deea583f746c361a6e05/src/backends/interflop-

[2021-06-07 08:21] roblim1 commented on #246
FYI, my implementation is based on this example:
  https://stackoverflow.com/questions/40771022/how-to-get-the-value-of-a-member-of-a-structure-in-llvm

spread across:
https://github.com/verificarlo/verificarlo/blob/1237459a553b55577716deea583f746c361a6e05/src/libvfcfuncinstrument/libVFCFuncInstrument.cpp#L184

[2021-06-07 09:20] roblim1 commented on #246
Never mind, I may have figured out how to manipulate the argument numbers to make this work.

[2021-06-07 09:20] #246 closed

[2021-06-11 13:42] #184 closed

[2021-06-11 13:45] #245 closed

[2021-06-15 06:56] roblim1 opened #253 "Commit 3e6bd62751939bb22ff160ef401b35ce9e49b029 doesn't build"
[code]

[2021-06-15 07:32] roblim1 opened #254 "Suggestion for requirements.txt"
Since it looks like the package dependencies is growing, I would like to make a suggestion for a requirements.txt package installer.

For instance, I needed to install numpy, bigfloat, pandas, tables, scipy, pythongit, jinja2, and bokeh.

[2021-06-15 08:24] pablooliveira commented on #253
@PurplePachyderm could you please have a look ?
On our autobuilder 3e6bd627 is building but maybe there is an issue on some machines with the fortran modules rules that were added.

[2021-06-15 08:29] PurplePachyderm commented on #253
Sure, this might have something to do with the rules to build the Fortran interface not being ignored correctly when flang support is disabled.

[2021-06-15 08:37] PurplePachyderm commented on #253
It seems like the rule to install the Fortan header was not inside the `if BUILD_FLANG` clause in `src/common/Makefile.am`. When testing the install without flang support, I probably forgot to `make clean` so I didn't run into the issue since the file was already there. I'll open a PR that should fix the issue and add a small correction to the code of `vfc_ci`.

[2021-06-15 09:02] PurplePachyderm commented on #253
Just opened the PR (#255). This should solve the issue but we should probably wait for someone else to confirm before closing it.

[2021-06-15 15:04] #164 closed

[2021-06-15 15:23] pablooliveira opened #257 "Docker build is broken"
Hi @PurplePachyderm, the latest commit (https://github.com/verificarlo/verificarlo/commit/b03d4eb1815826774f826fe64290dd4a6b3b773e) breaks our Docker build. Could you please check what is going on ?
This seems to be linked to the missing sigdigits submodule. Maybe the Dockerfile should pull the submodule ?

Thanks !

[code]

[2021-06-15 15:46] PurplePachyderm commented on #257
Sure I'll take a look. Technically the submodule is pulled in `autogen.sh` so I guess something goes wrong at that moment. Is there a way to build the Docker image with the same environment so I can try to reproduce the issue without having to commit ?

[2021-06-15 16:17] pablooliveira commented on #257
Yes you can use the Dockerfile included in verificarlo to build locally.

[code]
should do the trick I think.

[2021-06-15 16:28] yohanchatelain commented on #257
Following this [stackoverflow](https://stackoverflow.com/questions/8751195/why-is-the-type-not-accessible), we should add an `import` in `src/common/vfc_probes_f.f90`.

[2021-06-15 16:35] PurplePachyderm commented on #257
@pablooliveira Thanks, I'll keep you updated about the issue.
 @yohanchatelain Yes, I also just noticed the issue earlier. Using `import` does fix it. I'm not sure why this error doesn't occur on every system, even when using the same version of flang, though.

[2021-06-15 16:40] yohanchatelain commented on #257
Also, I need to add the path to the module `-I ../../src/common` in `test_fortran_vfc_probes`. Moreover, the library `libvfc_probes.a` (and the module) needs to be compiled with the same fortran compiler (flang instead of gfortran). So we need to modify the `configure.ac` to force `flang` to be used instead of `gfortran`.

[2021-06-15 16:49] #253 closed

[2021-06-15 19:51] yohanchatelain commented on #257
Reopen issue because the #258 didn't fix the ci/docker

[2021-06-16 06:10] roblim1 commented on #234
For the record, I've recently encountered a function name size of 4019 characters:

`std::pair<ska::detailv3::sherwood_v3_table<std::pair<std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >, c10::IValue>, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >, std::hash<std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char

[2021-06-16 11:36] PurplePachyderm commented on #257
Just to give you an update, I've been trying to reproduce the issue locally, but the build always worked whatever I tried. At some point, I tried to create my own Docker repository from my fork and launch an automatic build from there so I would get the exact same conditions, but this functionality is not available with the free plan.

So I couldn't test my solution, but I think that de-initializi

[2021-06-16 20:06] Sholde opened #261 "In trouble with python-git"
Hello,

Recently, `verificarlo` added the `python-git` dependency.
So I installed it with `pip`.
But the configuration file failed to reach it.
So I consulted the online documentation https://pypi.org/project/python-git/.
But they say that we have to run a few lines to set up an initial configuration.
I don't really understand where we need to configure it, in the directory where we work on `verif

[2021-06-17 07:15] #257 closed

[2021-06-17 08:34] PurplePachyderm commented on #261
Hi,

There are actually a few Python modules available to interact with Git, including `python-git` (https://pypi.org/project/python-git/) as you pointed out, and `GitPython` (https://gitpython.readthedocs.io/en/stable/tutorial.html). This can be quite confusing, but `GitPython` is actually the one used in Verificarlo.

I just noticed that the documentation has not been updated with the new Python

[2021-06-17 09:49] Sholde commented on #261
Thank you.

[2021-06-17 11:33] #234 closed

[2021-06-17 11:33] #254 closed

[2021-06-17 12:10] yohanchatelain opened #264 "Release v0.4.3?"
Can we release a new version? since major contributions have been added since the last release

[2021-06-17 12:54] Sholde commented on #264
I think we should merge #263 (or fix the issue) first in order to have a clean behavior for the `make clean` command.

[2021-06-17 13:06] yohanchatelain commented on #264
I think that it does not impact the behaviour of the backends neither the general mechanic. Moreover, it is just an issue with a tracked file that should not be.

[2021-06-17 21:19] #264 closed

[2021-06-18 09:32] #261 closed

[2021-07-09 06:43] titeup commented on #231
Hi, I received all answers, we will start the process next week!

[2021-07-26 17:20] v1j4y opened #273 "Compiling with LLVM-7 and gcc-9 on ubuntu 20.04"
Hello,

I wanted to report that I was able to compile Verificarlo on my laptop running Ubuntu 20.04 (freshly upgraded) with gcc-9 and LLVM-7.

However, a small issue appeared which is the following:

[code]

Which I was able to resolve by adding this to the call to `./configure`

[code]

And the full `./configure` call is:

[code]

Did I do this correctly ?
On my side Verificarlo seems to have ins

[2021-07-26 17:59] pablooliveira commented on #273
Hello @v1j4y, thanks for the feedback :pray: Yes this is correct. Unfortunately, on some systems there is no default `llvm-config` on standard path.

Your workaround works. You should also be able to fix it by passing explicitly the LLVM installation path with the following flag:

[code]

Does this also works on your environment ?

[2021-07-27 06:57] v1j4y commented on #273
Hi @pablooliveira !

Thanks for the reply.
Your solution is cleaner as it now finds `llvm-config` properly here:

[code]
I confirm that it compiles perfectly with `--with-llvm=/usr/lib/llvm-7`. I'll close this issue.

Best,
 Vijay

[2021-07-27 06:57] #273 closed

[2021-08-30 07:53] pablooliveira commented on #221
Hi @mistoan. I am triaging old bugs reports and I am not sure to understand what the problem is here. Could you please give us more details about the problem and what would be the expected behavior here ?

[2021-08-31 08:09] mistoan commented on #221
The problem is that the vfc_report was developed in such a way that it expects all 3 explorations (operations, arguments and all) to have been done by vfc_precexp, prior to the script being called.

In the meantime, we've modularized the vfc_precexp so that the precision explorations can be done independently. This was needed for codes where each exploration is very costly in time.
Therefore, ther

[2021-09-27 19:25] gyh1997127 opened #282 "Sources of Performance Improvement"
Dear devs,

I read the paper "Verificarlo: checking floating point accuracy through Monte Carlo Arithmetic", and I have some questions.

The paper reported that Verificarlo had a ~116x overhead over IEEE.
![Screen Shot 2021-09-27 at 11 46 35 AM](https://user-images.githubusercontent.com/41491404/134967157-21f96570-ef0c-49ab-9365-4d1685994c53.png)

Out of curiosity, I ran the test myself using the

[2021-09-27 20:41] titeup commented on #282
Hello,

1- In the 2015 paper this was our first result using the mpfr backend, since then many progress has been made using quad format and finely tuned arithmetic to add the noise and rounding. However we haven't check the performance for a long time, so I cannot tell how accurate is your measurement without testing myself
2-I think I already told most of it in 1/. The code is reasonably  well do

[2021-09-27 21:16] gyh1997127 commented on #282
Thank you for the response.

I'm still a bit confused regarding questions 3. I see that the --precision-binary32 and --precision-binary64 options allow one to configure the precision before execution. Is there a way to modify the precisions during execution? Perhaps by invoking a function such as _set_precision(int i) of some sort?

[2021-09-28 06:32] titeup commented on #282
Yes indeed you can, this is what we have done in vprec paper:
Chatelain, Yohan & Petit, Eric & de Oliveira Castro, Pablo & Lartigue, Ghislain & Defour, David. (2019). Automatic Exploration of Reduced Floating-Point Representations in Iterative Methods. 10.1007/978-3-030-29400-7_34.

[2021-09-28 06:34] titeup commented on #282
Since it appears to not be an issue, I will convert this thread to a discussion.
Thanks,
E-

[2021-09-28 06:34] #282 closed

[2021-10-27 01:01] gyh1997127 opened #286 "Compilation Flow"
Hi devs,

I'm trying to compile and run a C-based benchmark suite using verificarlo. Verificarlo is used as the compiler, and gnu ld as the linker.

I ran into the following error during linking:

//lib/x86_64-linux-gnu/libc.so.6: error adding symbols: DSO missing from command line

Looks like this is caused by a mismatch between verificarlo's target glibc version and my OS's version?

Thank you f

[2021-10-27 01:52] #286 closed, assigned to nobody

[2022-01-10 12:53] #231 closed

[2022-01-14 09:45] pablooliveira opened #295 "IEEE backend is not reentrant"
Counting of operations in IEEE backend is probably not reentrant.

[2022-02-23 11:47] pablooliveira commented on #219
Closed in #300.

[2022-02-23 11:47] #219 closed

[2022-06-23 11:57] pablooliveira opened #305 "After 88dfc7a, test_sparsity fails"
After 88dfc7a, it seems that the `test_sparsity` is failing. This seems unrelated to the specific changes in 88dfc7a which only changed documentation. It seems connected to a change in the np.loadtxt parsing of floating points.

[2022-06-23 15:47] pablooliveira commented on #305
Ping @titeup, @gkiar. If you have any idea how to fix this, feel free to give feedback !

[2022-06-23 16:06] pablooliveira commented on #305
I'm testing a fix in the PR #304.

[2022-06-23 16:17] pablooliveira commented on #305
Ok I changed the parsing of floats to avoid `np.loadtxt` and manually handled the float.fromhex conversion. Seems to be working :)
@titeup whenever you can please review and merge #304.

[2022-06-27 19:02] #305 closed

[2022-07-12 21:57] yohanchatelain opened #309 "To use verificarlo_home variable instead of relative path in Makefile.am"
As a general comment, nothing to be changed yet, but to discuss for later. shall we keep relative path? Or use verificarlo_home variable?

_Originally posted by @titeup in https://github.com/verificarlo/verificarlo/pull/308#discussion_r919275649_

[2022-09-02 20:51] yohanchatelain commented on #180
I just discovered that the [`decimal`](https://docs.python.org/3/library/decimal.html#module-decimal) package is part of the python standard library. That could be a good option to replace `bigfloat` without adding an extra dependency.

[2022-09-05 07:42] pablooliveira commented on #180
Yes, in particular, bigfloat requires manual installation with the latest linux distributions which is a hassle. I agree that replacing it with decimal would be nice !

[2022-09-22 01:07] Kim1230 opened #312 "LLVM can't compile the tests"
Hello,
I install LLVM and Clang
clang-10.0.1-1.ky10.x86_64
llvm-10.0.1-1.ky10.x86_64
clang-tools-extra-10.0.1-1.ky10.x86_64
llvm-devel-10.0.1-1.ky10.x86_64
clang-devel-10.0.1-1.ky10.x86_64
![image](https://user-images.githubusercontent.com/107012598/191636427-93166c65-1af6-4dcb-9c4b-d79fd780ab80.png)
But when I installed the verificarlo and use `make installcheck` . It shows below:
![image](https:

[2022-09-22 08:31] pablooliveira commented on #312
Hi @Kim1230. The error in the last log is `opt` complaining about the syntax of the generated IR files. In verificarlo, this can happen when the version of the `clang` binary used at compile time is different than the version of the `opt` binary. Sometimes this happens when you have another version of clang in the system, and a mixup happens during configure.

Could you check if that is the case ?

[2022-09-22 08:44] Kim1230 commented on #312
Hello, Thanks for your reponse.  did you mean echo $PATH or something else?
And I still install LLVM-15.0.0 and reconfigure verificarlo v0.8. It gets another problem:
![image](https://user-images.githubusercontent.com/107012598/191701130-7103b3a2-6f7b-41da-954a-a24b4fbe203f.png)

[2022-09-22 09:22] pablooliveira commented on #312
No, I meant looking at the tool paths that are defined in the beginning of the `verificarlo` script. You can get them with the following command:

``` head -n 50 `which verificarlo` ```

Could you please post the output of the previous command ?

[2022-09-22 10:33] Kim1230 commented on #312
Hello, this is the output:
![image](https://user-images.githubusercontent.com/107012598/191724863-82f6ce4e-ce90-460e-9e88-41f1e5a82e60.png)

[2022-09-22 11:12] pablooliveira commented on #312
You are using the `clang` at `/usr/bin/clang` which I suspect is the default clang installed by your distribution. But the `opt` binary is taken at `/usr/local/bin/opt` which is a different version.

This might stem from a problem during configure. Please ensure that the clang and opt that are selected have the same version. You might want to put /usr/local/bin/ in your PATH during configure.

As

[2022-09-22 12:26] Kim1230 commented on #312
@pablooliveira
Thanks a lot and it works!
but I got another problem
[config.log](https://github.com/verificarlo/verificarlo/files/9625621/config.log)
And I don't know how to fix it?

[2022-09-22 13:09] pablooliveira commented on #312
@Kim1230, the problem in the `config.log` triggers when we are checking that your installed clang 10.0 is working. Unfortunately, it seems the llvm you installed is not properly working and returns an error:

[code]

According to the post https://stackoverflow.com/questions/53805007/compilation-failing-on-enableabibreakingchecks, this seems to point to a mismatch between the installed runtime libr

[2022-09-23 01:44] Kim1230 commented on #312
@pablooliveira
Thank you so much for your help.
I reinstalled the LLVM from the source code.
And the command is cmake -S llvm -B build -DCMAKE_INSTALL_PREFIX=/home/yjy/LLVM11.0/ -DLLVM_ENABLE_PROJECTS='clang' -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=On
it works!
And when I build : the command is ：
`./configure --prefix=/home/yjy/floatPrecision --without-flang CC=gcc CXX=g++`
but when I

[2022-09-23 07:30] pablooliveira commented on #312
Dear @Kim1230, congrats on making progress. The remaining issues :
- `test_bitmask_backend`: this is a problem with Python parsing. I thought we had already fixed this issue, but it seems it is coming back. I will have a look at this, but you can safely ignore this failure. The problem is only in the test harness not in verificarlo.

- `test_unstable_branches` `test_static_mode` `test_absolute_err

[2022-09-23 08:45] Kim1230 commented on #312
@pablooliveira
Thank you so much for your response. I have solved all the problems

[2022-09-23 11:49] #312 closed

[2022-09-29 04:35] Kim1230 opened #316 "problem of undefined symbol"
Hello,
I have used verificarlo-c++ to compile the source cpp file and generate an shared object. And when I want to link this .so file to generate executable file. There generates some problems.
undefined symbol: _doubleadd
undefined symbol: _doublesub
undefined symbol: _doublemul
undefined symbol: _doublediv
undefined symbol: _2xdoublemul
I think because when I link it, I still need to point out

[2022-09-29 07:29] pablooliveira commented on #316
Dear @Kim1230, please make sure you use `verificarlo-c++` for linking. It should solve the issue.

[2022-09-29 07:38] Kim1230 commented on #316
Dear@pablooliveira, I make sure that I use this command
`  verificarlo-c++ -fopenmp  -Wno-unknown-pragmas -g  -O2 --std=c++14 -c  -fPIC  -DMPI_NO_CPPBIND=1 -DOMPI_SKIP_MPICXX=1 -DMPICH_SKIP_MPICXX=1 -DHAVE_CONFIG_H -DCORENEURON_BUILD -DHAVE_MALLOC_H -DNRNMPI=1 -DMPI_NO_CPPBIND=1 -DOMPI_SKIP_MPICXX=1 -DMPICH_SKIP_MPICXX=1 -DLAYOUT=0 -DDISABLE_HOC_EXP -DENABLE_SPLAYTREE_QUEUING $(INCLUDES)  $< -o $@

[2022-09-29 09:49] pablooliveira commented on #316
This means probably that `libcorenrnmech.so` has not been linked with verificarlo runtime. Please ensure that all your linking steps go through verificarlo.

Also ensure that the final binary that loads libcorenrnmech.so is also linked with verificarlo.

[2022-09-29 10:59] Kim1230 commented on #316
Thanks for your quick response. I have modifed it and get another question. When I use the verificarlo-c++  to compile, link to generate execute. When I  add the command `verificarlo-c++ -fPIC  -fopenmp -Wno-unknown-pragmas -g  -O2  -std=c++14 -shared`. At last, it will have the question
![image](https://user-images.githubusercontent.com/107012598/193014193-9d31d5bb-834c-43a6-a8d6-c79f448be805.png

[2022-09-29 11:33] pablooliveira commented on #316
It seems -lomp is not found. But I'm not sure exactly what is going on, I would need more context.

Happy you made it works !

[2022-11-03 14:53] yohanchatelain opened #322 "Invalid constant provided for binary32 precision check"
https://github.com/verificarlo/verificarlo/blob/936bec5ab9e496e64f46f9037e8340209b7fd6ec/src/backends/interflop-vprec/interflop_vprec.c#L224-L227

[2022-11-03 14:54] yohanchatelain opened #323 "Invalid constant provided for binary64 precision check"
https://github.com/verificarlo/verificarlo/blob/936bec5ab9e496e64f46f9037e8340209b7fd6ec/src/backends/interflop-vprec/interflop_vprec.c#L252-L255

[2022-11-04 01:09] #322 closed

[2022-11-04 01:09] #323 closed

[2022-11-08 03:28] #316 closed